Source: libhdate
Priority: optional
Maintainer: Yaacov Zamir <kzamir@wall.co.il>
Build-Depends: libhdate-dev swig debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: libhdate-dev
Section: libdev
Architecture: any
Depends: libhdate0 (= ${Source-Version})
Description: A library that help use hebrew dates.
 LibHdate is a small C,C++ library for Hebrew dates,
 holidays, and reading sequence (parasha). It is using 
 the source code from Amos Shapir's "hdate" package fixed and 
 patched by Nadav Har'El. The Torah reading sequence
 is from tables by Zvi Har'El.
 .
 This package contains headers and support files required
 to build new applications with libhdate

Package: libhdate-python
Section: libdev
Architecture: any
Depends: libhdate0 (= ${Source-Version}) ${python:Depends}
Description: A library that help use hebrew dates.
 LibHdate is a small C,C++ library for Hebrew dates,
 holidays, and reading sequence (parasha). It is using 
 the source code from Amos Shapir's "hdate" package fixed and 
 patched by Nadav Har'El. The Torah reading sequence
 is from tables by Zvi Har'El.
 .
 This package contains python bindings to libhdate

Package: libhdate-perl
Section: libdev
Architecture: any
Depends: libhdate0 (= ${Source-Version}) ${perl:Depends}
Description: A library that help use hebrew dates.
 LibHdate is a small C,C++ library for Hebrew dates,
 holidays, and reading sequence (parasha). It is using 
 the source code from Amos Shapir's "hdate" package fixed and 
 patched by Nadav Har'El. The Torah reading sequence
 is from tables by Zvi Har'El.
 .
 This package contains perl bindings to libhdate

#Package: libhdate-pascal
#Section: libdev
#Architecture: any
#Depends: libhdate0 (= ${Source-Version}) fp-compiler (>= 2.0.0)
#Description: A library that help use hebrew dates.
# LibHdate is a small C,C++ library for Hebrew dates,
# holidays, and reading sequence (parasha). It is using 
# the source code from Amos Shapir's "hdate" package fixed and 
# patched by Nadav Har'El. The Torah reading sequence
# is from tables by Zvi Har'El.
# .
# This package contains free pascal bindings to libhdate

Package: libhdate0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A library that help use hebrew dates.
 LibHdate is a small C,C++ library for Hebrew dates,
 holidays, and reading sequence (parasha). It is using 
 the source code from Amos Shapir's "hdate" package fixed and 
 patched by Nadav Har'El. The Torah reading sequence
 is from tables by Zvi Har'El.
