*~
*.[ao]
*.l[ao]
*.so
*.deps
*.gmo
*.header
*.in
*.m4
*.pc
*.sed
*.sin
*.template
.libs
/bindings/perl/hdate.pm
/examples/hcal/hcal
/examples/hcal/hdate
/package-1.8
/po/POTFILES
/po/Rules-quot
/po/stamp-po
ABOUT-NLS
COPYING
GPATH
GRTAGS
GTAGS
INSTALL
Makefile
autom4te.cache
cg-*
compile
config.*
configure
cscope*
depcomp
hdate_wrap.cxx
install-sh
libtool
ltmain.sh
missing
